
memo2.cpp
StartDXProgram.sln
FBDF_errorlog.txt

*.bak
*.dat
*.dll
*.mp3
*.mp4
*.mv1
*.pmx
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.vmd
*.wav

.vs/
.vscode/
x64/

StartDXProgram/dancer/sample
StartDXProgram/dancer/uniow
StartDXProgram/dancer/neida
StartDXProgram/font
StartDXProgram/music
StartDXProgram/music_old
StartDXProgram/Log.txt
StartDXProgram/pic
