
memo2.cpp
StartDXProgram.sln

*.bak
*.dat
*.dll
*.mp3
*.mp4
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.wav

.vs/
.vscode/
x64/

StartDXProgram/font
StartDXProgram/music
StartDXProgram/music_old
StartDXProgram/Log.txt
